
/*------------------------------------------------------------------*/
/*	01) Base CSS
/*------------------------------------------------------------------*/
.d-none{
    display: none;
}
:root{
    --main-color: rgb(234,71,35) !important;
    --font-family: 'Overpass', sans-serif;
}


/*------------------------------------------------------------------*/
/*	02) Main
/*------------------------------------------------------------------*/
.picman_tm_services .list li .item:hover h3{
    color: red;
}

/*------------------------------------------------------------------*/
/*	03) PRELOADER
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	04) MOBILE MENU
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	05) Fixed Social Icons
/*------------------------------------------------------------------*/
.picman_tm_social .facebook a,
.picman_tm_social .twitter a,
.picman_tm_social .linkedin a,
.picman_tm_social .instagram a{
    border: 1px solid whitesmoke;
}

.picman_tm_social .twitter a {
    background-color: #000000;
}
.picman_tm_social .instagram a {
    background-color: #dd2b75;
}

/*------------------------------------------------------------------*/
/*	06) Header
/*------------------------------------------------------------------*/
.picman_tm_header .logo img{
    max-height: 45px;
    scale: 1.5;
}

/*------------------------------------------------------------------*/
/*	07) Modalbox
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	08) Cursor
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	09) Totop
/*------------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    bottom: 5%;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px; 
    border-radius: 50%;  
    display: none; 
    cursor: pointer;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    background-color: #555;
}


/*------------------------------------------------------------------*/
/*	10) Hero
/*------------------------------------------------------------------*/
.slider-image img{
    width: 50%;
    height: 10%;
    margin-bottom: -15%;
}
.picman_tm_hero .left_box h3,
.picman_tm_hero .left_box h4,
.picman_tm_hero .left_box h5{
    margin-bottom: 2.5% !important;
}
.picman_tm_hero .booking{
    margin-top: 2.5%;
}
.picman_tm_hero .booking .button {
    padding: 15px 25px 12px;
}
.picman_tm_hero .project_list_wrap .list a {
    font-size: 50px;
}

/*------------------------------------------------------------------*/
/*	11) About
/*------------------------------------------------------------------*/
#about{
	padding: 7.5% 0 5%;
}
.picman_tm_about .item{
	padding: 10% 5% 7.5%;
} 
.picman_tm_about li:nth-child(3n+1) .item {
    background-color: #f0f4ff;
}
.picman_tm_about li:nth-child(3n+2) .item {
    background-color: #fff3e9;
}
.picman_tm_about li:nth-child(3n) .item {
    background-color: #eae8fd;
}
.picman_tm_about li:nth-child(3n+4) .item {
    background-color: #ffebee;
}
.picman_tm_about li:nth-child(5) .item {
    background-color: #e0f7fa;
}
.picman_tm_about li:nth-child(6) .item {
    background-color: #e8f5e9;
}

/*------------------------------------------------------------------*/
/*	12) Information Box
/*------------------------------------------------------------------*/
#information{
	padding-bottom: 5%;
}
.picman_tm_information .right_box .line_a,
.picman_tm_information .right_box .line_b,
.picman_tm_information .right_box .line_c, 
.picman_tm_information .right_box .line_d {
    background-color: transparent;
}
.picman_tm_information .right_box:after {
    border: none;
}
.picman_tm_information .img{
	width: 125%;
    border-radius: 0%;
}
.picman_tm_information .right_box:hover .main {
    transform: scale(1) translateZ(0);
}
/*------------------------------------------------------------------*/
/*	13) Page Title
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	14) Portfolio
/*------------------------------------------------------------------*/
#portfolio {
    padding: 7.5% 0 7.5%;
}
.picman_tm_portfolio .main{
	border: 1px solid black;
    border-radius: 25px;
}

/*------------------------------------------------------------------*/
/*	15) Pricing
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	16) Service
/*------------------------------------------------------------------*/
#service{
	padding: 10% 0 5% 0;
}
.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.read_more_link, .reference_link {
    display: inline-block;
    padding: 1% 1.5%;
    margin-bottom: 5%;
    background-color: transparent;
    color: #2980b9;
    border: 1px solid #2980b9;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.read_more_link:hover, .reference_link:hover {
    background-color: #2980b9;
    color: white;
}
.read_more_link i, .reference_link i {
    margin-right: 8px;
}


/*------------------------------------------------------------------*/
/*	17) Feature
/*------------------------------------------------------------------*/
#feature{
	padding: 10% 0;
}

/*------------------------------------------------------------------*/
/*	18) Accordion
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	19) Nomination
/*------------------------------------------------------------------*/
#nomination {
    padding: 5% 0px 2.5%;
    background-color: transparent;
}
.picman_tm_nomination img{
    border-radius: 50%;
    margin-bottom: 2.5%;
}
.picman_tm_nomination li{
    margin-bottom: 2.5%;
}
.picman_tm_nomination{
    margin-top: 5%;
    padding: 5% 0px 2.5%;
	background-color: #34444c;
}

/*------------------------------------------------------------------*/
/*	20) Partners
/*------------------------------------------------------------------*/
.picman_tm_partners{
	margin-top: 5%;
}
.picman_tm_partners li{
	height: 125px;
	line-height: 125px;
} 
.picman_tm_partners .list_inner{
	opacity: 1;
}

/*------------------------------------------------------------------*/
/*	21) Blog
/*------------------------------------------------------------------*/
#blog {
    padding: 5% 0 7.5%;
    background-color: #f2f5fb;
}
.picman_tm_blog .details .meta {
    position: absolute;
    bottom: 5%;
    left: 1%;
    right: 2.5%;
    justify-content: space-evenly;
    font-size: 12px;
}
.picman_tm_blog .details{
	min-height: 200px;
}
.picman_tm_modalbox .news_popup_informations .details .meta span{
    font-size: 22px;
}


/*------------------------------------------------------------------*/
/*	22) Contact
/*------------------------------------------------------------------*/
#contact {
    padding: 5% 0px;
}
.picman_tm_contact .left_part {
    width: 60%;
    max-width: 60%;
    padding-right: 90px;
}
.picman_tm_contact .left_top ul h4 {
    width: 10%;
    padding-right: 5px;
}
.picman_tm_contact .right_part {
    padding: 5%;
}

/*------------------------------------------------------------------*/
/*	23) Instagram
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	24) Footer
/*------------------------------------------------------------------*/
.picman_tm_h_social .twitter a {
    background-color: #000000;
}
.picman_tm_h_social .instagram a {
    background-color: #dd2b75;
}
.picman_tm_footer .footer_bottom > *{
	padding-left: 115px;
}

/*------------------------------------------------------------------*/
/*	25) Testimonials
/*------------------------------------------------------------------*/
#testimonials {
    padding: 5% 0 7.5% 0;
}
.picman_tm_testimonial{
    margin: 5% 0 15%;
}

/*---------------------------------------------------*/
/*  PICMAN SETTINGS
/*---------------------------------------------------*/


/*------------------------------------------------------------------*/
/*	26) Responsive
/*------------------------------------------------------------------*/

/* Desktop devices */
@media (min-width: 1201px) {

}
/* Tablets devices */
@media (min-width: 768px) and (max-width: 1200px) {
    .picman_tm_modalbox .box_inner{
        width: 85%;
        max-width: 920px;
        min-width: 500px;
    }
    .picman_tm_blog .details .meta {
        font-size: 20px;
    }
    .picman_tm_contact .left_part {
        width: 100%;
        max-width: 100%;
        padding-right: 90px;
    }
    .picman_tm_contact .right_part {
        text-align: center;
    }
    .picman_tm_footer .footer_bottom > *{
        padding-left: 70px;
    }
    .picman_tm_footer .copyright p{
        text-align: center;
    }
    .picman_tm_footer .help_link ul{
        justify-content: center;
    }
}
/* Mobile devices */
@media (max-width: 767px) {
    .picman_tm_information .img{
        width: 100%;
    }
    .picman_tm_modalbox .box_inner{
        width: 90%;
        max-width: 520px;
        min-width: 300px;
    }
    .picman_tm_modalbox .service_popup_informations .descriptions p {
        text-align: justify;
    }
    .picman_tm_contact .left_part {
        width: 100%;
        max-width: 100%;
        padding-right: 0px;
    }
    .picman_tm_contact .left_top ul h4 {
        width: 30%;
        padding-right: 25px;
    }
    .picman_tm_contact .right_part {
        text-align: center;
    }
    .picman_tm_footer .footer_bottom > *{
        padding-left: 70px;
    }
    .picman_tm_footer .help_link ul {
        display: flex;
        justify-content: center;
    }
    .picman_tm_footer .copyright p{
        text-align: center;
        padding: 0 5%;
    }
    .picman_tm_footer .help_link li{
        padding-left: 5%;
    }
}


